.git
.github
.vscode
bin
obj
out
publish
logs
TestResults
coverage
*.binlog
*.log
*.nupkg
*.snupkg
appsettings.Development.json
appsettings.Local.json
appsettings.*.Local.json
secrets.json
.env
.env.*
Dockerfile
README.md
